<%- include('../blocks/header', {bot:bot, user: user, auth: auth}) %>
<script src="https://kit.fontawesome.com/a076d05399.js" /></script>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <h1>Base plugins</h1>
        <div class="row">
          <div class="col-lg-4">
            <% if (settings.welcomePlugin) { %>
            <a type="button" class="btn btn-secondary" href="/manage/<%= guild.id%>/welcome" style="width:98%">
              <h4>Welcome</h4>
              <p>Give new users a warm welcome!</p>
            </a>
            <% } else { %>
              <a type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#welcome" style="width:98%">
                <h4>Welcome</h4>
                <p>Give new users a warm welcome!</p>
              </a>
              <!--Welcome enable pop up-->
              <div class="modal" id="welcome">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Enable this plugin?</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- footer -->
                    <div class="modal-footer">
                      <a class="btn btn-success" role="button" href="/manage/<%= guild.id%>/welcome">Yes</a>
                      <a class="btn btn-danger" role="button" data-dismiss="modal">No</a>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
          <div class="col-lg-4">
            <a type="button" class="btn btn-secondary" href="/manage/<%= guild.id%>/level" style="width:98%">
                <h4>Level</h4>
                <p>Let your users gain XP and levels.</p>
            </a>
          </div>
          <div class="col-lg-4">
            <a type="button" class="btn btn-secondary" href="/manage/<%= guild.id%>/music" style="width:98%">
              <h4>Music</h4>
              <p>Listen to music directly on Discord.</p>
            </a>
          </div>
        </div>
        &nbsp
        <!--second row-->
        <div class="row">
          <div class="col-lg-4">
            <a type="button" class="btn btn-secondary" href="/manage/<%= guild.id%>/moderation" style="width:98%">
              <h4>Moderation</h4>
              <p>Power up your moderation with cool commands and automations!</p>
            </a>
          </div>
          <div class="col-lg-4">
            <a type="button" class="btn btn-secondary" href="/manage/<%= guild.id%>/level"  style="width:98%">
              <h4>Reaction Role</h4>
              <p>Reaction roles</p>
            </a>
          </div>
          <div class="col-lg-4">
            <a type="button" class="btn btn-secondary" href="/manage/<%= guild.id%>/music" style="width:98%">
              <h4>Anti-Raid</h4>
              <p>Protect your discord server.</p>
            </a>
          </div>
        </div>
        &nbsp
        <!--third row-->
        <div class="row">
          <div class="col-lg-4">
            <a type="button" class="btn btn-secondary" href="/manage/<%= guild.id%>/moderation" style="width:98%">
              <h4>NSFW</h4>
              <p>NSFW</p>
            </a>
          </div>
          <div class="col-lg-4">
            <a type="button" class="btn btn-secondary" href="/manage/<%= guild.id%>/level" style="width:98%">
              <h4>Search</h4>
              <p>Search up profiles/users on games</p>
            </a>
          </div>
          <div class="col-lg-4">
            <a type="button" class="btn btn-secondary" href="/manage/<%= guild.id%>/music" style="width:98%">
              <h4>Server Stats</h4>
              <p>Show off your stats</p>
            </a>
          </div>
        </div>
        <!--third row-->
        <div class="row">
          <h1>Optional plugins</h1>
          <p><br>Anti-raid, server stats, music trivia</p>
        </div>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>
</body>
<%- include('../blocks/footer') %>
