<%- include('../blocks/header', {bot:bot, user: user, auth: auth}) %>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6 form-group">
        <h3 style="padding-top: 25px;">Logging plugin<a class="btn btn-primary btn-lg" style="float:right" role="button" href="/manage/<%= guild.id%>/logging/disable"> Disable</a></h3>
        &nbsp
        <form method="POST">
          <b>LOGGING CHANNEL</b>
          <select name="LOGGINGCHANNEL" class="custom-select">
            <% if (settings.ModLogChannel == 999999999999999999) { %><option selected>Please select a channel</option><% } %>
            <% for (i = 0; i < guild.channels.cache.size; i++) { %>
              <% if (guild.channels.cache.array()[i].type == 'text') { %>
                <% var name = guild.channels.cache.find(channel => channel.id == guild.channels.cache.array()[i].parentID)%>
                <% if (settings.ModLogChannel == guild.channels.cache.array()[i].id) { %>
                  <option value=<%= guild.channels.cache.array()[i].id%> selected>#<%= guild.channels.cache.array()[i].name%></option>
                <% } else { %>
                  <option value=<%= guild.channels.cache.array()[i].id%> >#<%= guild.channels.cache.array()[i].name%> <% if (guild.channels.cache.array()[i].parentID) { %> (<%= bot.channels.cache.get(guild.channels.cache.array()[i].parentID).name %>) <% } %></option>
                <% } %>
              <% } %>
            <% } %>
          </select>
          <hr>
          <!--CHANNEL LOGGING-->
          <h5>CHANNEL EVENTS</h5>
          <div class="jumbotron">
            <div class="form-row">
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="CHANNELCREATE" name="CHANNELCREATE" <% if (settings.ModLogEvents.includes('CHANNELCREATE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="CHANNELCREATE">Channel Create</label>
              </div>
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="CHANNELDELETE" name="CHANNELDELETE" <% if (settings.ModLogEvents.includes('CHANNELDELTE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="CHANNELDELETE">Channel Delete</label>
              </div>
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="CHANNELUPDATE" name="CHANNELUPDATE" <% if (settings.ModLogEvents.includes('CHANNELUPDATE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="CHANNELUPDATE">Channel Update</label>
              </div>
            </div>
          </div>
          <hr>
          <!--EMOJI LOGGING-->
          <h5>EMOJI EVENTS</h5>
          <div class="jumbotron">
            <div class="form-row">
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="EMOJICREATE" name="EMOJICREATE" <% if (settings.ModLogEvents.includes('EMOJICREATE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="EMOJICREATE">Emoji Create</label>
              </div>
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="EMOJIDELETE" name="EMOJIDELETE" <% if (settings.ModLogEvents.includes('EMOJIDELETE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="EMOJIDELETE">Emoji Delete</label>
              </div>
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="EMOJIUPDATE" name="EMOJIUPDATE" <% if (settings.ModLogEvents.includes('EMOJIUPDATE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="EMOJIUPDATE">Emoji Update</label>
              </div>
            </div>
          </div>
          <hr>
          <!--ROLE LOGGING-->
          <h5>ROLE EVENTS</h5>
          <div class="jumbotron">
            <div class="form-row">
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="ROLECREATE" name="ROLECREATE" <% if (settings.ModLogEvents.includes('ROLECREATE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="ROLECREATE">Role Create</label>
              </div>
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="ROLEDELETE" name="ROLEDELETE" <% if (settings.ModLogEvents.includes('ROLEDELETE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="ROLEDELETE">Role Delete</label>
              </div>
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="ROLEUPDATE" name="ROLEUPDATE" <% if (settings.ModLogEvents.includes('ROLEUPDATE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="ROLEUPDATE">Role Update</label>
              </div>
            </div>
          </div>
          <hr>
          <!--MESSAGE LOGGING-->
          <h5>MESSAGE EVENTS</h5>
          <div class="jumbotron">
            <div class="form-row">
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="MESSAGEDELETE" name="MESSAGEDELETE" <% if (settings.ModLogEvents.includes('MESSAGEDELETE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="MESSAGEDELETE">Message Delete</label>
              </div>
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="MESSAGEDELETEBULK" name="MESSAGEDELETEBULK" <% if (settings.ModLogEvents.includes('MESSAGEDELETEBULK')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="MESSAGEDELETEBULK">Message Bulk Deletion</label>
              </div>
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="MESSAGEUPDATE" name="MESSAGEUPDATE" <% if (settings.ModLogEvents.includes('MESSAGEUPDATE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="MESSAGEUPDATE">Message Update</label>
              </div>
            </div>
            <div class="form-row">
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="MESSAGEREACTIONREMOVE" name="MESSAGEREACTIONREMOVE" <% if (settings.ModLogEvents.includes('MESSAGEREACTIONREMOVE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="MESSAGEREACTIONREMOVE">Message Reaction Add</label>
              </div>
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="MESSAGEREACTIONADD" name="MESSAGEREACTIONADD" <% if (settings.ModLogEvents.includes('MESSAGEREACTIONADD')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="MESSAGEREACTIONADD">Message Reaction Remove</label>
              </div>
            </div>
          </div>
          <hr>
          <!--MEMBER LOGGING-->
          <h5>MEMBER LOGGING</h5>
          <div class="jumbotron">
            <div class="form-row">
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="GUILDMEMBERADD" name="GUILDMEMBERADD" <% if (settings.ModLogEvents.includes('GUILDMEMBERADD')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="GUILDMEMBERADD">Member Join</label>
              </div>
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="GUILDMEMBERREMOVE" name="GUILDMEMBERREMOVE" <% if (settings.ModLogEvents.includes('GUILDMEMBERREMOVE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="GUILDMEMBERREMOVE">Member Leave</label>
              </div>
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="GUILDMEMBERUPDATE" name="GUILDMEMBERUPDATE" <% if (settings.ModLogEvents.includes('GUILDMEMBERUPDATE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="GUILDMEMBERUPDATE">Member Update</label>
              </div>
            </div>
            <div class="form-row">
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="GUILDMEMBERMUTE" name="GUILDMEMBERMUTE">
                <label class="custom-control-label" for="GUILDMEMBERMUTE">GUILDMEMBERMUTE (Not functional yet)</label>
              </div>
            </div>
          </div>
          <hr>
          <!--SERVER LOGGING-->
          <h5>SERVER LOGGING</h5>
          <div class="jumbotron">
            <div class="form-row">
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="GUILDBANADD" name="GUILDBANADD" <% if (settings.ModLogEvents.includes('GUILDBANADD')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="GUILDBANADD">Member Ban</label>
              </div>
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="GUILDBANREMOVE" name="GUILDBANREMOVE" <% if (settings.ModLogEvents.includes('GUILDBANREMOVE')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="GUILDBANREMOVE">Member remove Ban</label>
              </div>
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="GUILDKICK" name="GUILDKICK" <% if (settings.ModLogEvents.includes('GUILDKICK')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="GUILDKICK">Member Kick</label>
              </div>
              <div class="custom-control custom-checkbox col">
                <input type="checkbox" class="custom-control-input" id="GUILDWARNING" name="GUILDWARNING" <% if (settings.ModLogEvents.includes('GUILDWARNING')) {%> checked="checked" <% } %>>
                <label class="custom-control-label" for="GUILDWARNING">Member Warned</label>
              </div>
            </div>
          </div>
          <hr>
          <!--IGNORED CHANNELS-->
          <h5>IGNORE CHANNELS</h5>
          <p>COMING SOON</p>
          <p>add report in logging</p>
          <hr>
          <!--IGNORE BOT ACTIVITIES ASWELL-->
          <div class="custom-control custom-switch">
            <input type="checkbox" name='la-toggle' class="custom-control-input" data-toggle="collapse" data-target="#la-toggle" id="switch2" <% if (settings.ModLogIgnoreBot == true) {%> checked="checked" <% } %>>
            <label class="custom-control-label" for="switch2"><h5>Do not log actions made by bots</h5></label>
          </div>
          <hr>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
  </div>
</body>
<%- include('../blocks/footer') %>
