<%- include('../blocks/header', {bot:bot, user: user, auth: auth}) %>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6 form-group">
        <h3 style="padding-top: 25px;">Moderation plugin<a class="btn btn-lg" style="float:right" role="button" href="/manage/<%= guild.id%>/moderation/disable"> Disable</a></h3>
        &nbsp
        <form method="POST" autocomplete="off">
          <h4>Auto moderator</h4>
          &nbsp;
          <!--Row 1-->
          <div class="row">
            <div class="col-lg-4">
              <p class="font-weight-bold">BAD WORDS <button style="float:right;"type="button" class="btn  btn-sm" data-toggle="modal" data-target="#modalbadwords">Settings</button></p>
              <select name="BadWordOption" class="custom-select" id="mySelect">
                <option <% if (settings.ModerationBadwords == 0) { %> selected <% } %> value='0'>Disabled</option>
                <option <% if (settings.ModerationBadwords == 1) { %> selected <% } %> value='1'>Delete message</option>
                <option <% if (settings.ModerationBadwords == 2) { %> selected <% } %> value='2'>Warn member</option>
                <option <% if (settings.ModerationBadwords == 3) { %> selected <% } %> value='3'>Delete message & warn member</option>
              </select>
              <!--Pop up-->
              <div class="modal fade" id="modalbadwords" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">BAD WORDS</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="BadWordChannel"><a data-toggle="tooltip" title="Channels that will NOT be checked for bad words." style="color:black">Ignore Channels:<sup>*</sup></a></label>
                        <input type="text" name="BadWordChannel" class="form-control form-control" value="<%= settings.ModerationBadwordChannel.join(', ') %>">
                      </div>
                      <div class="form-group">
                        <label for="BadWordRole"><a data-toggle="tooltip" title="Members with these roles will NOT be checked for bad words." style="color:black">Ignore Roles:<sup>*</sup></a></label>
                        <input type="text" name="BadWordRole" class="form-control form-control" value="<%= settings.ModerationBadwordRole.join(', ') %>">
                      </div>
                      <div class="form-group">
                        <label for="BadWordList"><a data-toggle="tooltip" title="Words that are considered as bad." style="color:black">Bad word list:<sup>*</sup></a></label>
                        <!--textarea name="BadWordList"></textarea-->
                        <input type="text" name="BadWordList" class="form-control form-control" value="<%= settings.ModerationBadwordList.join(', ') %>"></input>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm" data-dismiss="modal">ok</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <p class="font-weight-bold">REPEATED TEXT <button style="float:right;"type="button" class="btn  btn-sm" data-toggle="modal" data-target="#modalrepeat">Settings</button></p>
              <select name="RepeatTextOption" class="custom-select" id="mySelect">
                <option <% if (settings.ModerationRepeatedText == 0) { %> selected <% } %> value='0'>Disabled</option>
                <option <% if (settings.ModerationRepeatedText == 1) { %> selected <% } %> value='1'>Delete message</option>
                <option <% if (settings.ModerationRepeatedText == 2) { %> selected <% } %> value='2'>Warn member</option>
                <option <% if (settings.ModerationRepeatedText == 3) { %> selected <% } %> value='3'>Delete message & warn member</option>
              </select>
              <!--Pop up-->
              <div class="modal fade" id="modalrepeat" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">REPEATED TEXT</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="RepeatedTextChannel"><a data-toggle="tooltip" title="Channels that will NOT be checked for repeated text." style="color:black">Ignore Channels:<sup>*</sup></a></label>
                        <input type="text" name="RepeatedTextChannel" class="form-control form-control" value="<%= settings.ModerationRepeatedTextChannel.join(', ') %>">
                      </div>
                      <div class="form-group">
                        <label for="RepeatedTextRole"><a data-toggle="tooltip" title="Members with these roles will NOT be checked for repeated text." style="color:black">Ignore Roles:<sup>*</sup></a></label>
                        <input type="text" name="RepeatedTextRole" class="form-control form-control" value="<%= settings.ModerationRepeatedTextRole.join(', ') %>">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm" data-dismiss="modal">ok</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <p class="font-weight-bold">SERVER INVITES <button style="float:right;"type="button" class="btn  btn-sm" data-toggle="modal" data-target="#modalserverinv">Settings</button></p>
              <select name="ServerInvOption" class="custom-select" id="mySelect">
                <option <% if (settings.ModerationServerInvites == 0) { %> selected <% } %> value='0'>Disabled</option>
                <option <% if (settings.ModerationServerInvites == 1) { %> selected <% } %> value='1'>Delete message</option>
                <option <% if (settings.ModerationServerInvites == 2) { %> selected <% } %> value='2'>Warn member</option>
                <option <% if (settings.ModerationServerInvites == 3) { %> selected <% } %> value='3'>Delete message & warn member</option>
              </select>
              <!--Pop up-->
              <div class="modal fade" id="modalserverinv" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">SERVER INVITES</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="ServerInvitesChannel"><a data-toggle="tooltip" title="Channels that will NOT be checked for server invites." style="color:black">Ignore Channels:<sup>*</sup></a></label>
                        <input type="text" name="ServerInvitesChannel" class="form-control form-control" value="<%= settings.ModerationServerInvitesChannel.join(', ') %>">
                      </div>
                      <div class="form-group">
                        <label for="ServerInvitesRole"><a data-toggle="tooltip" title="Members with these roles will NOT be checked for server invites." style="color:black">Ignore Roles:<sup>*</sup></a></label>
                        <input type="text" name="ServerInvitesRole" class="form-control form-control" value="<%= settings.ModerationServerInvitesRole.join(', ') %>">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm" data-dismiss="modal">ok</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          &nbsp
          <!--Row 2-->
          <div class="row">
            <div class="col-lg-4">
              <p class="font-weight-bold">EXTERNAL LINKS <button style="float:right;"type="button" class="btn  btn-sm" data-toggle="modal" data-target="#modalExternalLinks">Settings</button></p>
              <select name="ExternLinksOption" class="custom-select" id="mySelect">
                <option <% if (settings.ModerationExternalLinks == 0) { %> selected <% } %> value='0'>Disabled</option>
                <option <% if (settings.ModerationExternalLinks == 1) { %> selected <% } %> value='1'>Delete message</option>
                <option <% if (settings.ModerationExternalLinks == 2) { %> selected <% } %> value='2'>Warn member</option>
                <option <% if (settings.ModerationExternalLinks == 3) { %> selected <% } %> value='3'>Delete message & warn member</option>
              </select>
              <!--Pop up-->
              <div class="modal fade" id="modalExternalLinks" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">EXTERNAL LINKS</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="ExternalLinksChannel"><a data-toggle="tooltip" title="Channels that will NOT be checked for external links." style="color:black">Ignore Channels:<sup>*</sup></a></label>
                        <input type="text" name="ExternalLinksChannel" class="form-control form-control" value="<%= settings.ModerationExternalLinksChannel.join(', ') %>">
                      </div>
                      <div class="form-group">
                        <label for="ExternalLinksRole"><a data-toggle="tooltip" title="Members with these roles will NOT be checked for external links." style="color:black">Ignore Roles:<sup>*</sup></a></label>
                        <input type="text" name="ExternalLinksRole" class="form-control form-control" value="<%= settings.ModerationExternalLinksRole.join(', ') %>">
                      </div>
                      <div class="form-group">
                        <label for="ExternalLinksAllowed"><a data-toggle="tooltip" title="Websites that will not trigger auto-mod." style="color:black">Allowed websites:<sup>*</sup></a></label>
                        <input type="text" name="ExternalLinksAllowed" class="form-control form-control" value="<%= settings.ModerationExternalLinksAllowed.join(', ') %>">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm" data-dismiss="modal">ok</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <p class="font-weight-bold">EXCESSIVE CAPS <button style="float:right;"type="button" class="btn  btn-sm" data-toggle="modal" data-target="#modalexcesscaps">Settings</button></p>
              <select name="ExcessCapsOption" class="custom-select" id="mySelect">
                <option <% if (settings.ModerationSpammedCaps == 0) { %> selected <% } %> value='0'>Disabled</option>
                <option <% if (settings.ModerationSpammedCaps == 1) { %> selected <% } %> value='1'>Delete message</option>
                <option <% if (settings.ModerationSpammedCaps == 2) { %> selected <% } %> value='2'>Warn member</option>
                <option <% if (settings.ModerationSpammedCaps == 3) { %> selected <% } %> value='3'>Delete message & warn member</option>
              </select>
              <!--Pop up-->
              <div class="modal fade" id="modalexcesscaps" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">EXCESSIVE CAPS</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="ExcessiveCapsChannel"><a data-toggle="tooltip" title="Channels that will NOT be checked for excessive caps." style="color:black">Ignore Channels:<sup>*</sup></a></label>
                        <input type="text" name="ExcessiveCapsChannel" class="form-control form-control" value="<%= settings.ModerationSpammedCapsChannel.join(', ') %>">
                      </div>
                      <div class="form-group">
                        <label for="ExcessiveCapsRole"><a data-toggle="tooltip" title="Members with these roles will NOT be checked for excessive caps." style="color:black">Ignore Roles:<sup>*</sup></a></label>
                        <input type="text" name="ExcessiveCapsRole" class="form-control form-control" value="<%= settings.ModerationSpammedCapsRole.join(', ') %>">
                      </div>
                      <div class="form-group">
                        <label for="ExcessiveCapsPercentage"><a data-toggle="tooltip" title="Percentage of caps in a message before it's considered excessive." style="color:black">Percentage:<sup>*</sup></a></label>
                        <input type="number" name="ExcessiveCapsPercentage" class="form-control form-control" value="<%= settings.ModerationSpammedCapsPercentage %>">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm" data-dismiss="modal">ok</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <p class="font-weight-bold">EXCESSIVE EMOJIS <button style="float:right;"type="button" class="btn  btn-sm" data-toggle="modal" data-target="#modalexcessmojis">Settings</button></p>
              <select name="ExcessEmojiOption" class="custom-select" id="mySelect">
                <option <% if (settings.ModerationExcessiveEmojis == 0) { %> selected <% } %> value='0'>Disabled</option>
                <option <% if (settings.ModerationExcessiveEmojis == 1) { %> selected <% } %> value='1'>Delete message</option>
                <option <% if (settings.ModerationExcessiveEmojis == 2) { %> selected <% } %> value='2'>Warn member</option>
                <option <% if (settings.ModerationExcessiveEmojis == 3) { %> selected <% } %> value='3'>Delete message & warn member</option>
              </select>
              <!--Pop up-->
              <div class="modal fade" id="modalexcessmojis" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">EXCESSIVE EMOJIS</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="ExcessiveEmojisChannel"><a data-toggle="tooltip" title="Channels that will NOT be checked for excessive emojis." style="color:black">Ignore Channels:<sup>*</sup></a></label>
                        <input type="text" name="ExcessiveEmojisChannel" class="form-control form-control" value="<%= settings.ModerationExcessiveEmojisChannel.join(', ') %>">
                      </div>
                      <div class="form-group">
                        <label for="ExcessiveEmojisRole"><a data-toggle="tooltip" title="Members with these roles will NOT be checked for excessive emojis." style="color:black">Ignore Roles:<sup>*</sup></a></label>
                        <input type="text" name="ExcessiveEmojisRole" class="form-control form-control" value="<%= settings.ModerationExcessiveEmojisRole.join(', ') %>">
                      </div>
                      <div class="form-group">
                        <label for="ExcessiveEmojiPercentage"><a data-toggle="tooltip" title="Percentage of emojis in a message before it's considered excessive." style="color:black">Percentage:<sup>*</sup></a></label>
                        <input type="number" name="ExcessiveEmojiPercentage" class="form-control form-control" value="<%= settings.ModerationExcessiveEmojiPercentage %>">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm" data-dismiss="modal">ok</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          &nbsp
          <!--Row 3-->
          <div class="row">
            <div class="col-lg-4">
              <p class="font-weight-bold">EXCESSIVE SPOILERS <button style="float:right;"type="button" class="btn  btn-sm" data-toggle="modal" data-target="#modalexcessspoil">Settings</button></p>
              <select name="ExcessSpoilOption" class="custom-select" id="mySelect">
                <option <% if (settings.ModerationMassSpoilers == 0) { %> selected <% } %> value='0'>Disabled</option>
                <option <% if (settings.ModerationMassSpoilers == 1) { %> selected <% } %> value='1'>Delete message</option>
                <option <% if (settings.ModerationMassSpoilers == 2) { %> selected <% } %> value='2'>Warn member</option>
                <option <% if (settings.ModerationMassSpoilers == 3) { %> selected <% } %> value='3'>Delete message & warn member</option>
              </select>
              <!--Pop up-->
              <div class="modal fade" id="modalexcessspoil" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">EXCESSIVE SPOILERS</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="ExcessiveSpoilersChannel"><a data-toggle="tooltip" title="Channels that will NOT be checked for excessive spoilers." style="color:black">Ignore Channels:<sup>*</sup></a></label>
                        <input type="text" name="ExcessiveSpoilersChannel" class="form-control form-control" value="<%= settings.ModerationMassSpoilersChannel.join(', ') %>">
                      </div>
                      <div class="form-group">
                        <label for="ExcessiveSpoilersRole"><a data-toggle="tooltip" title="Members with these roles will NOT be checked for excessive spoilers." style="color:black">Ignore Roles:<sup>*</sup></a></label>
                        <input type="text" name="ExcessiveSpoilersRole" class="form-control form-control" value="<%= settings.ModerationMassSpoilersRole.join(', ') %>">
                      </div>
                      <div class="form-group">
                        <label for="ExcessiveSpoilerPercentage"><a data-toggle="tooltip" title="Percentage of spoilers in a message before it's considered excessive." style="color:black">Percentage:<sup>*</sup></a></label>
                        <input type="number" name="ExcessiveSpoilerPercentage" class="form-control form-control" value="<%= settings.ModerationMassSpoilersPercentage %>">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm" data-dismiss="modal">ok</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <p class="font-weight-bold">EXCESSIVE MENTIONS <button style="float:right;"type="button" class="btn  btn-sm" data-toggle="modal" data-target="#modalExcessMentions">Settings</button></p>
              <select name="ExcessMentionsOption" class="custom-select" id="mySelect">
                <option <% if (settings.ModerationMassMention == 0) { %> selected <% } %> value='0'>Disabled</option>
                <option <% if (settings.ModerationMassMention == 1) { %> selected <% } %> value='1'>Delete message</option>
                <option <% if (settings.ModerationMassMention == 2) { %> selected <% } %> value='2'>Warn member</option>
                <option <% if (settings.ModerationMassMention == 3) { %> selected <% } %> value='3'>Delete message & warn member</option>
              </select>
              <!--Pop up-->
              <div class="modal fade" id="modalExcessMentions" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">EXCESSIVE MENTIONS</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="ExcessiveMentionsChannel"><a data-toggle="tooltip" title="Channels that will NOT be checked for excessive mentions." style="color:black">Ignore Channels:<sup>*</sup></a></label>
                        <input type="text" name="ExcessiveMentionsChannel" class="form-control form-control" value="<%= settings.ModerationMassMentionChannel.join(', ') %>">
                      </div>
                      <div class="form-group">
                        <label for="ExcessiveMentionsRole"><a data-toggle="tooltip" title="Members with these roles will NOT be checked for excessive mentions." style="color:black">Ignore Roles:<sup>*</sup></a></label>
                        <input type="text" name="ExcessiveMentionsRole" class="form-control form-control" value="<%= settings.ModerationMassMentionRole.join(', ') %>">
                      </div>
                      <div class="form-group">
                        <label for="ExcessiveMentionsPercentage"><a data-toggle="tooltip" title="Number of mentions before its considered excessive." style="color:black">Percentage:<sup>*</sup></a></label>
                        <input type="number" name="ExcessiveMentionsPercentage" class="form-control form-control" value="<%= settings.ModerationMassMentionNumber %>">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm" data-dismiss="modal">ok</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <p class="font-weight-bold">ZALGO <button style="float:right;" type="button" class="btn  btn-sm" data-toggle="modal" data-target="#modalzalgo">Settings</button></p>
              <select name="ZalgoOption" class="custom-select" id="mySelect">
                <option <% if (settings.ModerationZalgo == 0) { %> selected <% } %> value='0'>Disabled</option>
                <option <% if (settings.ModerationZalgo == 1) { %> selected <% } %> value='1'>Delete message</option>
                <option <% if (settings.ModerationZalgo == 2) { %> selected <% } %> value='2'>Warn member</option>
                <option <% if (settings.ModerationZalgo == 3) { %> selected <% } %> value='3'>Delete message & warn member</option>
              </select>
              <!--Pop up-->
              <div class="modal fade" id="modalzalgo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">EXCESSIVE MENTIONS</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="ZalgoChannel"><a data-toggle="tooltip" title="Channels that will NOT be checked for Zalgo." style="color:black">Ignore Channels:<sup>*</sup></a></label>
                        <input type="text" name="ZalgoChannel" class="form-control form-control" value="<%= settings.ModerationZalgoChannel %>">
                      </div>
                      <div class="form-group">
                        <label for="ZalgoRole"><a data-toggle="tooltip" title="Members with these roles will NOT be checked for Zalgo." style="color:black">Ignore Roles:<sup>*</sup></a></label>
                        <input type="text" name="ZalgoRole" class="form-control form-control" value="<%= settings.ModerationZalgoRole %>">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm" data-dismiss="modal">ok</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="custom-control custom-switch">
            <input type="checkbox" name='am-toggle' class="custom-control-input" data-toggle="collapse" data-target="#pm-toggle" id="switch2" <% if (settings.ModerationIgnoreBotToggle == true) {%> checked="checked" <% } %>>
            <label class="custom-control-label" for="switch2"><h5>Auto-Moderator ignores and doesn't affect other bots</h5></label>
          </div>
          <hr>
          <div class="custom-control custom-switch">
            <input type="checkbox" name='cc-toggle' class="custom-control-input" data-toggle="collapse" data-target="#cc-toggle" id="switch1" <% if (settings.CommandChannelToggle == true) {%> checked="checked" <% } %>>
            <label class="custom-control-label" for="switch1"><h5>Command options</h5></label>
          </div>
          <div id="cc-toggle" class="collapse <% if (settings.CommandChannelToggle == true) { %> show <% } %>">
            <div class="form-group row">
              <label class="col-3 col-form-label" for="CommandOnlyChannels"><a data-toggle="tooltip" title="Commands can only be done in these channels. empty means disabled"><p class="font-weight-bold">Command only channels:<sup>*</sup></p></a></label>
              <div class="col-9">
                <input type="text" name="CommandOnlyChannels" class="form-control form-control" value="<%= settings.CommandChannels.join(', ') %>">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label" for="CommandCooldown"><a data-toggle="tooltip" title="How long in between each command. 0 means disabled"><p class="font-weight-bold">Command cooldown:<sup>*</sup></p></a></label>
              <div class="col-9">
                <input type="number" name="CommandCooldown" class="form-control form-control" value="<%= settings.CommandCooldownSec %>">
              </div>
            </div>
          </div>
          <hr>
          <h4>Ticket/Report set-up</h4>
          <hr>
          <button type="submit" class="btn btn-lg" style="float:right">Submit</button>
        </form>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
  </div>
</body>
<%- include('../blocks/footer') %>
