<%- include('../blocks/header', {bot:bot, user: user, auth: auth}) %>
<script src="https://kit.fontawesome.com/a076d05399.js" /></script>
<script src="https://cdn.tiny.cloud/1/n737ldq8uzinidh1o2ibkfhulisy0n4sccrombva5wcnmtf0/tinymce/5/tinymce.min.js" referrerpolicy="origin" /></script>
<link rel="stylesheet" href="/static/css/emojionearea.min.css">
<script src="/static/js/emojionearea.min.js" /></script>
<script type="text/javascript">
  $(document).ready(function() {
    // Load emoji picker
    $("#textarea").emojioneArea({
      pickerPosition: "bottom",
      search: false
    });
    $("#textarea2").emojioneArea({
      pickerPosition: "bottom",
      search: false
    });
    $("#textarea3").emojioneArea({
      pickerPosition: "bottom",
      search: false
    });
  })
</script>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6 form-group">
        <form method="POST">
          <h3 style="padding-top: 25px;">Welcome plugin<a class="btn btn-lg" style="float:right" role="button" href="/manage/<%= guild.id%>/welcome/disable"> Disable</a></h3>
          &nbsp
          <!--Welcome message section-->
          <div class="custom-control custom-switch">
            <input type="checkbox" name='wm-toggle' class="custom-control-input" data-toggle="collapse" data-target="#wm-toggle" id="switch1" <% if (settings.welcomeMessageToggle == true) {%> checked="checked" <% } %>>
            <label class="custom-control-label" for="switch1"><h5>Send a message when a user joins the server</h5></label>
          </div>
          <div id="wm-toggle" class="collapse <% if (settings.welcomeMessageToggle == true) {%> show <% } %>">
            <div class="form-row">
              <div class="col-lg-4">
                <b>WELCOME MESSAGE CHANNEL</b>
                <select name="welcomeMessageChannel" class="custom-select">
                  <% if (settings.welcomeMessageChannel == 999999999999999999) { %><option selected>Please select a channel</option><% } %>
                  <% for (i = 0; i < guild.channels.cache.size; i++) { %>
                    <% if (guild.channels.cache.array()[i].type == 'text') { %>
                      <% if (settings.welcomeMessageChannel == guild.channels.cache.array()[i].id) { %>
                        <option value=<%= guild.channels.cache.array()[i].id%> selected>#<%= guild.channels.cache.array()[i].name%> <% if (guild.channels.cache.array()[i].parentID) { %> (<%= bot.channels.cache.get(guild.channels.cache.array()[i].parentID).name %>) <% } %></option>
                      <% } else { %>
                        <option value=<%= guild.channels.cache.array()[i].id%> >#<%= guild.channels.cache.array()[i].name%> <% if (guild.channels.cache.array()[i].parentID) { %> (<%= bot.channels.cache.get(guild.channels.cache.array()[i].parentID).name %>) <% } %></option>
                      <% } %>
                    <% } %>
                  <% } %>
                </select>
              </div>
              <div class="col-lg-8">
                <b>WELCOME MESSAGE</b>
                <textarea name="wl_message" id='textarea'><%= String(settings.welcomeMessageText) %></textarea>
              </div>
            </div>
          </div>
          <hr>
          <!--Private message section-->
          <div class="custom-control custom-switch">
            <input type="checkbox" name='pm-toggle' class="custom-control-input" data-toggle="collapse" data-target="#pm-toggle" id="switch2" <% if (settings.welcomePrivateToggle == true) {%> checked="checked" <% } %>>
            <label class="custom-control-label" for="switch2"><h5>Send a private message to new users</h5></label>
          </div>
          <div id="pm-toggle" class="collapse <% if (settings.welcomePrivateToggle == true) { %> show <% } %>">
            <textarea name="pvt_message" id='textarea2'><%= String(settings.welcomePrivateText) %></textarea>
          </div>
          <hr>
          <!--Role give section-->
          <div class="custom-control custom-switch">
            <input type="checkbox" name='rg-toggle' class="custom-control-input" data-toggle="collapse" data-target="#rg-toggle" id="switch3" <% if (settings.welcomeRoleToggle == true) {%> checked="checked" <% } %>>
            <label class="custom-control-label" for="switch3"><h5>Give a role to new users</h5></label>
          </div>
          <div id="rg-toggle" class="collapse <% if (settings.welcomeRoleToggle == true) { %> show <% } %>">
            <p>Coming soon</p>
          </div>
          <hr>
          <!--Leave message section-->
          <div class="custom-control custom-switch">
            <input type="checkbox" name='lm-toggle' class="custom-control-input" data-toggle="collapse" data-target="#lm-toggle" id="switch4" <% if (settings.welcomeGoodbyeToggle == true) {%> checked="checked" <% } %>>
            <label class="custom-control-label" for="switch4"><h5>Send a message when a user leaves the server</h5></label>
          </div>
          <div id="lm-toggle" class="collapse <% if (settings.welcomeGoodbyeToggle == true) { %> show <% } %>">
            <textarea name="lv_message" id='textarea3'><%= String(settings.welcomeGoodbyeText) %></textarea>
          </div>
          <hr>
          <!--Submit new settings-->
          <button type="submit" class="btn btn-sm">Submit</button>
        </form>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
  </div>
</body>
<%- include('../blocks/footer') %>
