<%- include('../blocks/header', {bot:bot, user: user, auth: auth}) -%>
<br>
<div class="container">
  <div class="section">
    <a href="/manage/<%= guild.id%>/commands">Custom commands</a>
    <p>Add awesome custom commands to your server</p>
  </div>
  <div class="section">
    <a href="/manage/<%= guild.id%>/level">Level</a>
    <p>Let your users gain XP and levels by participating in the chat!</p>
  </div>
  <div class="section">
    <a href="/manage/<%= guild.id%>/moderation">Moderator</a>
    <p>Power up your moderation with cool commands and automations!</p>
  </div>
  <div class="section">
    <a href="/manage/<%= guild.id%>/music">Music</a>
    <p>Listen to music directly in Discord</p>
  </div>
  <div class="section">
    <a href="/manage/<%= guild.id%>/reaction_roles">Reaction roles</a>
    <p>Let your members get roles by reacting to a message</p>
  </div>
  <div class="section">
    <a href="/manage/<%= guild.id%>/reddit">Reddit</a>
    <p>Get your favourite subreddits posted directly in your server</p>
  </div>
  <div class="section">
    <a href="/manage/<%= guild.id%>/search">Search</a>
    <p>Search the internet for whatever you want!</p>
  </div>
  <div class="section">
    <a href="/manage/<%= guild.id%>/timers">Timers</a>
    <p>Send custom messages on repeat every few minutes/hours</p>
  </div>
  <div class="section">
    <a href="/manage/<%= guild.id%>/twitter">Twitter</a>
    <p>Get notified when your favourite Twitter account posts a tweet</p>
  </div>
  <div class="section">
    <a href="/manage/<%= guild.id%>/welcome">Welcome</a>
    <p>Give new users a warm welcome!</p>
  </div>
  <div class="section">
    <a href="/manage/<%= guild.id%>/youtube">Youtube</a>
    <p>Get notified when your favourite Youtuber posts a video</p>
  </div>
</div>
<%- include('../blocks/footer') %>
