<% if (guild.icon) { %>
  <img class="d-flex mr-3 rounded-circle" src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.jpg?size=128" style="width: 75px;" alt="">
<% } else { %>
  <img class="d-flex mr-3 rounded-circle" src="https://i.imgur.com/2otMem9.png" style="width: 75px;" alt="">
<% } %>
<p><%= guild.name %></p>
<a href="/manage/<%= guild.id%>">Plugins</a>
<a href="/leaderboard/<%= guild.id%>">Leaderboard</a>
<a href="/manage/<%= guild.id%>/settings">Settings</a>
<a href="/manage/<%= guild.id%>/premium">Premium</a>
