<%- include('blocks/header', {bot:bot, user: user, auth: auth}) %>

  <%
const help = {};
bot.commands.forEach((command) => {
  const cat = command.help.category;
  if (!help.hasOwnProperty(cat)) help[cat] = [];
  help[cat].push(command);
});
%>


    <h1 class="display-3">Commands</h1>

    <% for (const category in help) { %>
      <h1 class="display-5">
        <%= category %>
      </h1>
      <div class="card-columns">
        <% for (const command of help[category]) { %>
          <div class="card">
            <h3 class="card-header"><%= command.help.name %></h3>
              <div class="card-block" style="margin: 7px">
                <p class="card-text"><%= command.help.description %></p>
                <h6 class="card-subtitle text-muted">Permission: asd<br /><a href="#" data-toggle="modal" data-target="#<%= `${command.help.name}` %>Modal">more...</a></h6>
              </div>
          </div>
          <div id="<%= `${command.help.name}` %>Modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header btn-info disabled">
                  <h4 class="modal-title"><%= command.help.name %></h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <p><span style="font-weight: bold;">Description:</span> <%= command.help.description %></p>
                    <p><span style="font-weight: bold;">Category:</span> <%= command.help.category %></p>
                    <p><span style="font-weight: bold;">Enabled:</span> asd</p>
                    <p><span style="font-weight: bold;">Usage Example(s):</span> <%- '<br>' + command.help.usage.replace(/\n/g, '<br>') %></p>
                    <p><span style="font-weight: bold;">Command Aliases: asd</p>

                  </div>
                <div class="modal-footer"><button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button></div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>

<%- include('blocks/footer') %>
