<%- include('blocks/header', {bot:bot, user: user, auth: auth}) %>
<h1 class="display-3">Dashboard</h1>
<ul class="list-unstyled">
<% user.guilds.forEach(guild => {
  if(guild.owner == false) return;
%>
<li class="media" style="padding: 10px;">
    <% if (guild.icon) { %>
      <img class="d-flex mr-3 rounded-circle" src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.jpg?size=128" style="width: 75px;" alt="">
    <% } else { %>
      <img class="d-flex mr-3 rounded-circle" src="https://i.imgur.com/2otMem9.png" style="width: 75px;" alt="">
    <% } %>
    <div class="media-body">
      <h5 class="mt-0 mb-1"><%= guild.name %></h5>
      <%
      let href, text;
      let enabled;
      if(bot.guilds.cache.get(guild.id)) {
        href = "/manage/" + guild.id;
        text = "Manage";
        enabled = true;
      } else {
        href = `/add/${guild.id}`;
        text = "Invite Bot";
        enabled = user.id === '184376969016639488' || bot.appInfo.botPublic;
      }
      %>
      <a class="btn btn-primary btn-lg<% if(!enabled) { %> disabled<% } %>" role="button" href="<%= href %>">
        <%= text %>
        <i class="right chevron icon"></i>
      </a>
    </div>
  </li>
<% }); %>
</ul>

<% include('blocks/footer') %>
