<%- include('../blocks/header', {bot:bot, user: user, auth: auth}) %>
<h1>Welcome</h1>
<form method="POST">
  <p>Welcome enable:</p>
  <% if (Guildsettings.welcomePlugin == true) { %>
    <input type="checkbox" name="welcome_enabled" checked>
  <% } else { %>
    <input type="checkbox" name="welcome_enabled">
  <% } %>
  <div class="Text-message">
    <h6>Send a message when a user joins the server</h6>
    <textarea name="txt_message" cols=50><%= String(Guildsettings.welcomeMessage) %></textarea>
    <select name="txt_channel">
    <% for (i = 0; i < guild.channels.cache.size; i++) { %>
      <% if (guild.channels.cache.array()[i].type == 'text') { %>
        <% var name = guild.channels.cache.find(channel => channel.id == guild.channels.cache.array()[i].parentID)%>
        <% if (Guildsettings.welcomeChannel == guild.channels.cache.array()[i].name) { %>
          <option value=<%= guild.channels.cache.array()[i].name%> selected>#<%= guild.channels.cache.array()[i].name%></option>
        <% } else { %>
          <option value=<%= guild.channels.cache.array()[i].name%> >#<%= guild.channels.cache.array()[i].name%></option>
        <% } %>
      <% } %>
    <% } %>
    </select>
  </div>
  <div class="pvt-message">
    <h6>Send a private message to new users</h6>
    <% if (Guildsettings.welcomePvt == true) { %>
      <input type="checkbox" name="pvtMessage_enabled" checked>
    <% } else { %>
      <input type="checkbox" name="pvtMessage_enabled">
    <% } %>
    <textarea name="pvt_message" cols=50><%= String(Guildsettings.welcomePvtMessage) %></textarea>
  </div>
  <div class="roles">
    <h6>Give a role to new users</h6>
    <% if (Guildsettings.welcomeRole == true) { %>
      <input type="checkbox" name="roles_enabled" checked>
    <% } else { %>
      <input type="checkbox" name="roles_enabled">
    <% } %>
    <input type="text" name="role_users" value=<%= Guildsettings.welcomeRoleGive %> autocomplete=off>
  </div>
  <div class="goodbye">
    <h6>Send a message when a user leaves the server</h6>
    <% if (Guildsettings.welcomeGoodbye == true) { %>
      <input type="checkbox" name="Goodbye_enabled" checked>
    <% } else { %>
      <input type="checkbox" name="Goodbye_enabled">
    <% } %>
    <textarea name="goodbye_message" cols=50><%= String(Guildsettings.welcomeGoodbyeMessage) %></textarea>
  </div>
  <br>
  <button type="submit">Save</button>
</form>
<div class="test">
  <!--% console.log(guild.channels.array()[1])%-->
</div>
<%- include('../blocks/footer') %>
